

<div class="columns">
  <div class=" column is-one-third">
    <div class="box-container">
    <div>
      <figure class="image is-1by1 is-center-img">
        <!-- <img src="http://lorempixel.com/g/480/480/"> -->
        <img  src="https://pbs.twimg.com/profile_images/906523301723459584/kS1SpIh2_400x400.jpg">
      </figure>
      <br />
    </div>
    <div>
      <h1 class="title">
        John-Michael Baldy
      </h1>
    </div>
  </div>
  <hr />

    <div class="box-container">
      <h2 class="title has-text-left"> Contact</h2>
      <p class="has-text-left indent">Email: <a href="baldy.johnmichael@gmail.com">baldy.johnmichael@gmail.com</a></p>
      <p class="has-text-left indent">Github: <a href="http://www.github.com/baldyjohnmichael">baldyjohnmichael</a></p>
      <p class="has-text-left indent">Twitter: <a href="/">@twitterHandle</a></p>
      <p class="has-text-left indent">Blog: <a href="/">Blog Name</a></p>
    </div>
  </div>




  <div class="column">
    <div class="box-container content">
      <p class="title">About</p>
      <p class="has-text-left">
        I am a designer, web developer, tour guide living in Charleston, South Carolina. I am passionate
        about creating software & products that users will love.
      </p>
      <p class="has-text-left">
        I spend my free time translating Latin poetry, running, & studying the architecture of Charleston. I also
        devote much of my leisure time to learning & improving myself.
      </p>
      <p class="has-text-left">
        I can juggle & solve a Rubik's Cube, but not at the same time. I love ampersands, Drake, & dank memes.
    </div>
  </div>
