<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">

      <article class="tile is-child notification is-info">
      <figure class="image is-1by1">
        <!-- <img src="http://lorempixel.com/g/480/480/"> -->
        <img src="https://pbs.twimg.com/profile_images/906523301723459584/kS1SpIh2_400x400.jpg">
      </figure>
      <p class="title">John-Michael Baldy</p>
    </article>
    <div class="tile has-text-left is-child box">
      <p class="title">Contact</p>
      <hr />
      <!--  TODO Make this bulleted with the social media icons for those platforms -->
      <p class="indent">Email: <a href="baldy.johnmichael@gmail.com">baldy.johnmichael@gmail.com</a></p>
      <p class="indent">Github: <a href="http://www.github.com/baldyjohnmichael">baldyjohnmichael</a></p>
      <p class="indent">Twitter: <a href="/">@twitterHandle</a></p>
      <p class="indent">Blog: <a href="/">Blog Name</a></p>
    </div>
  </div>

  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">About</p>
      <p class="has-text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
      <p class="has-text-left">Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
      <p class="has-text-left">Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
    </div>
  </div>


</div>
