<!--  TODO change this out with connecting to a DB -->
<div class="content">


  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-primary project-tile">
        <p class="title">This 1st thing</p>
      </article>
      <article class="tile is-child notification is-primary">
        <p class="title">This 2nd thing</p>
      </article>
      <article class="tile is-child notification is-primary">
        <p class="title">This 3rd thing</p>
      </article>
      <article class="tile is-child notification is-primary">
        <p class="title">This 4th thing</p>
      </article>
    </div>

    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-warning">
        <p class="title">This 1st thing</p>
      </article>
      <article class="tile is-child notification is-warning">
        <p class="title">This 2nd thing</p>
      </article>
      <article class="tile is-child notification is-warning">
        <p class="title">This 3rd thing</p>
      </article>
      <article class="tile is-child notification is-warning">
        <p class="title">This 4th thing</p>
      </article>
    </div>

    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-info">
        <p class="title">This 1st thing</p>
      </article>
      <article class="tile is-child notification is-info">
        <p class="title">This 2nd thing</p>
      </article>
      <article class="tile is-child notification is-info">
        <p class="title">This 3rd thing</p>
      </article>
      <article class="tile is-child notification is-info">
        <p class="title">This 4th thing</p>
      </article>
    </div>

    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-danger">
        <p class="title">This 1st thing</p>
      </article>
      <article class="tile is-child notification is-danger">
        <p class="title">This 2nd thing</p>
      </article>
      <article class="tile is-child notification is-danger">
        <p class="title">This 3rd thing</p>
      </article>
      <article class="tile is-child notification is-danger">
        <p class="title">This 4th thing</p>
      </article>
    </div>


  </div>



  <div class="tile is-ancestor">

    <div class="tile">
      <!--  content or other tiles -->
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">This vert thing</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">This vert thing 2</p>
        </article>
      </div>

    </div>
    <div class="tile">
      <!--  content or other tiles -->
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">This is a thing</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">This is a thing</p>
        </article>

    </div>
  </div>
    <div class="tile">
      <!--  content or other tiles -->
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">This is a thing</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">This is a thing</p>
        </article>

    </div>
  </div>





  </div>
</div>
