<div class="content">
  <div class="columns">
    <div class="column align-top">
      <h1>{{title}}</h1>
    </div>
  </div>
  <hr />
  <div class="columns">
    <div class="column align-top">
      <h2>A more user friendly portfolio is on the way! You can find my portfolio <a href="https://drive.google.com/drive/folders/17Epe_90uXSLtUtHaP0gQWce7GCKXWD0z?usp=sharing">here</a></h2>
    </div>
  </div>


  <!-- <div class="columns">
    <div class="column">
      <section class="has-text-left">
        <h2>CIRDLES Collection</h2>
      </section>
    </div>
  </div>


  <div class="columns">
    <div class="column">
      <figure class="image is-square">
        <img  class="resize" src="https://github.com/baldyjohnmichael/DRAKE/blob/master/logos/Ambapo/ambapoLogoSansHex.png?raw=true">
      </figure>
    </div>
    <div class="column">
      <figure class="image is-square">
        <img src="https://github.com/baldyjohnmichael/DRAKE/blob/master/logos/CHRONI/chroniLogoSansHex.png?raw=true">
      </figure>
    </div>
    <div class="column">
      <figure class="image is-square">
        <img src="https://github.com/baldyjohnmichael/DRAKE/blob/master/logos/MARS/MarsLogoSansHex.png?raw=true">
      </figure>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <figure class="image is-square">
        <img src="https://github.com/baldyjohnmichael/DRAKE/blob/master/logos/Squid/SquidLogoSansHex.png?raw=true">
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <img src="https://github.com/baldyjohnmichael/DRAKE/blob/master/logos/Topsoil/TopsoilSansHex.png?raw=true">
      </figure>
    </div>
  </div> -->


  <!-- <div class="columns">
    <div class="column">
      <div class="container is-fluid">
        <div class="notification preview topsoil">
          This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
          viewport size.
        </div>
      </div>
    </div>
    <div class="column">
      <div class="container is-fluid">
        <div class="notification preview ambapo">
          This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
          viewport size.
        </div>
      </div>
    </div>
    <div class="column">
      <div class="container is-fluid ">
        <div class="notification preview chroni">
          This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
          viewport size.
        </div>
      </div>
    </div>
    <div class="column">
      <div class="container is-fluid">
        <div class="notification preview mars">
          This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
          viewport size.
        </div>
      </div>
    </div>
  </div>
  <hr />


    <div class="columns">
      <div class="column">
        <section class="has-text-left">
          <h2>UI/X Design</h2>
        </section>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="container is-fluid">
          <div class="notification preview">
            This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
            viewport size.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container is-fluid">
          <div class="notification preview">
            This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
            viewport size.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container is-fluid">
          <div class="notification preview">
            This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
            viewport size.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container is-fluid">
          <div class="notification preview">
            This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
            viewport size.
          </div>
        </div>
      </div>
    </div>
    <hr />

      <div class="columns">
        <div class="column">
          <section class="has-text-left">
            <h2>Web Development</h2>
          </section>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="container is-fluid">
            <div class="notification preview">
              This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
              viewport size.
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <section class="has-text-left">
            <h2>3D Modeling</h2>
          </section>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="container is-fluid">
            <div class="notification preview">
              This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
              viewport size.
            </div>
          </div>
        </div>
      </div> -->
  <!-- <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square is-square">
            <img src="http://lorempixel.com/128/128" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-content">
          <div class="content">
            <p class="title is-4">
              Topsoil Logo
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square is-square">
            <img src="http://lorempixel.com/128/128" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-content">
          <p>lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img src="http://lorempixel.com/128/128" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-content">
          <p>lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">

    <div class="column align-top">
      <div class="tile is-ancestor">

        <div class="tile is-parent">
          <div class="tile is-child test-tile">
            lorem
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child test-tile">
            ipsum
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child test-tile">
            ipsum
          </div>
        </div>

        <div class="tile is-parent tile-background-img">
          <div class="tile is-child">
            ipsum
          </div>
        </div>

      </div>
    </div>

 -->

</div>
