.test-tile {
  background-color: rgb(191, 133, 55);
}



.tile-background-img:hover {
  color: rgb(255, 255, 255);
}

.preview {
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: 50%;
}

img.resize {
  width=: 50%;
  height: 50%;
}
/* .topsoil {
    background-image: url("imgs/cirdles/topsoil.png");
}

.ambapo {
  background-image: url("imgs/cirdles/ambapo.png");
}

.chroni {
  background-image: url("imgs/cirdles/chroni.png");
}

.mars {
  background-image: url("imgs/cirdles/mars.png");
}

.squid {
  background-image: url("imgs/cirdles/squid.png");
} */
