<nav class="level level-heading">
  <div class="level-left">
    <p class="level-item has-text-centered title garmond">
      baldy
    </p>
  </div>

  <div class="level-right">
    <p class="level-item subtitle is-3">
      <a class="link is-info" routerLink="/">
        /resume
      </a>
    </p>
    <p class="level-item subtitle is-3">
      <a class="link is-info" routerLink="/portfolio">
        /portfolio
      </a>
    </p>
    <p class="level-item subtitle is-3">
      <a class="link is-info" routerLink="/projects">
        /projects
      </a>
    </p>

    <p class="level-item subtitle is-3">
      <a class="link is-info" routerLink="/about">
        /about
      </a>
    </p>
    <p class="level-item subtitle is-3">
      <a class="link is-info" routerLink="/about">

      </a>
    </p>
  </div>
</nav>
<hr class="style-eight" />
<br />
<br />

<div style="text-align:center">


  <div class="columns">
    <div class="column"></div>

    <div class="column is-three-fifths">
      <router-outlet></router-outlet>
    </div>

    <div class="column"></div>
  </div>
</div>
<br />
<br />
