.level-heading {
  padding: 2%;
}
/* Glyph, by Harry Roberts
   edittted and improved on
   by John-Michael Baldy
   */

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    /* content: "§⚕☤🜲"; */
    /* content: "ᚕᚖ🜲ᚖᚕ"; */
    content: "🜲";
    /* content: "∭∭🜲∭∭"; */
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
