<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info" routerLink="/">
      Resume
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" routerLink="/projects">
      Projects
    </a>
  </p>
  <p class="level-item has-text-centered title">
    Baldy
  </p>

  <p class="level-item has-text-centered">
    <a class="link is-info" routerLink="/portfolio">
      Portfolio
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" routerLink="/about">
      About
    </a>
  </p>
</nav>
<div style="text-align:center">


  <div class="columns">
    <div class="column"></div>

    <div class="column is-three-fifths">
      <router-outlet></router-outlet>
    </div>

    <div class="column"></div>
  </div>
</div>
