<div class="content">

  <section class="has-text-left">
    <h2>Skills</h2>
    <ul>
      <li>Frontend Development</li>
      <li>Graphic Design</li>
      <li>MEAN Stack Development</li>
      <li>UI/X Design</li>
      <li>3-D Modeling & Printing</li>
    </ul>
  </section>
  <hr />
  <section class="has-text-left">
    <h2>Knowledge</h2>
    <ul>
      <li>Programming languages: Python, Java, C, Javascript, Typescript, Prolog</li>
      <li>Development libraries and platforms: Angular, Node.js, D3.js, JavaFX</li>
      <li>Software: Adobe Photoshop, Adobe Illustrator, Blender</li>
    </ul>
  </section>
  <hr />
  <section class="has-text-left">
    <h2>Experience</h2>
    <br />
    <dl>
      <dt>Student Researcher, CIRDLES at the College of Charleston</dt>
      <dt><em>August 2016 - Current</em></dt>
      <dd>CIRDLES is an undergraduate computer science software engineering initiative at the College of Charleston. The lab primarily focuses on the development of free and open source software for scientific fields. My role in CIRDLES is the graphic designer and UI/X developer for the lab's current projects. </dd>
      <br />

      <dt>Charleston Tour Guide, Ashely on the Cooper Tours</dt>
      <dt><em>July 2016 - Current</em></dt>
      <dd>I became a licensed Charleston tour guide in the summer of 2016 because of my love of architecture and history. The position has improved my speaking skills in front of a crowd and in small groups. </dd>
      <br />

      <dt>Intern, Bradshaw Consulting Services</dt>
      <dt><em>June 2015 - July 2015</em></dt>
      <dd>As the intern for BCS I focused on designing the mobile site for the company. I also worked on the design of marketing materials for the company. </dd>
      <br />

      <dt>Student Researcher, Ilab at the College of Charleston</dt>
      <dt><em>September 2014 - 2015</em></dt>
      <dd>As a student researcher in the iLab I took innovative technologies, like 3-D printing, in order to use them to solve problems in the Charleston community.</dd>
      <br />

      <dt>Freelance Designer</dt>
      <dt><em>September 2014 - Current</em></dt>
      <dd>While being a freelance designer I have worked with both startup companies and individuals. I have worked on projects for both 2D and 3D design.  </dd>
    </dl>
  </section>
  <hr />
  <section class="has-text-left">
    <h2>Education</h2>
    <dl>
      <dt>College of Charleston - Charleston, SC - Class of 2018</dt>
      <dt>Artium Baccalaureus Computer Science with a minor in Art History</dt>
    </dl>
  </section>

</div>
